
#resultados{
    margin-top: 20px;
}

#buscador{
    margin-left: 5px;
    margin-right: 8px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
a:hover{
    color: #0dcaf0;
}
table{
    background-color: azure;

}
body{
    background-color: aliceblue
}
.botones{
    margin-top: 20px;
}
